.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .home-logo {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the entire circle */
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #555;
  }
  